.blog_body-wrapper {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.blog_heading_h1 {
    margin-top: 40px;
    font-size: 75px;
    font-weight: 900;
}

.blog_heading_h2 {
    margin-top: 40px;
    font-size: 50px;
    font-weight: 500;
}

.blog_heading_h3 {
    margin-top: 40px;
    font-size: 35px;
}

.blog_pera_p1 {
    margin-top: 40px;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 5px;
}

.blog_img_img1 {
    display: block;
    max-width: 75%;
    margin: 40px auto 0 auto;

}