#home_body_blogs-ul {
    width: 60%;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

#home_body_blogs-ul > li {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0 60px 0;
    box-shadow: 2px 2px 6px 6px white;
    border-radius: 2px;
}

#home_body_blogs-ul a {
    font-size: 15px;
    margin-right: 5px;
}

#home_blog_heading {
    font-size: xx-large;
    font-weight: 900;
    margin: 10px 0;
    cursor: pointer;
}

#home_body_blogs-ul span {
    display: block;
    cursor: pointer;
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#home_body_blogs-ul-li-image-wrapper {
    margin-right: 20px;
    height: 170px;
    width: 200px;
}
#home_body_blogs-ul img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

@media (width < 1600px) {
    #home_body_blogs-ul {
        width: 75%;
    }
    #home_body_blogs-ul span {
        width: 45ch;
    }
}
@media (width < 1400px) {
    #home_body_blogs-ul {
        width: 80%;
    }
    #home_blog_heading {
        font-size: x-large;
    }
    #home_body_blogs-ul-li-image-wrapper {
        height: 140px;
        width: 170px;
    }
    #home_body_blogs-ul span {
        width: 40ch;
    }
}
@media (width < 1200px) {
    #home_body_blogs-ul {
        width: 85%;
    }
    #home_body_blogs-ul-li-image-wrapper {
        height: 110px;
        width: 140px;
    }
    #home_body_blogs-ul span {
        width: 35ch;
    }
}
@media (width < 1000px) {
    #home_body_blogs-ul {
        width: 90%;
    }
    #home_body_blogs-ul a {
        font-size: 10px;
        margin-right: 5px;
    }
    #home_blog_heading {
        font-size: large;
    }
    #home_body_blogs-ul-li-image-wrapper {
        height: 90px;
        width: 120px;
    }
    #home_body_blogs-ul span {
        width: 30ch;
    }
}
@media (width < 800px) {
    #home_body_blogs-ul {
        width: 100%;
    }
    #home_body_blogs-ul a {
        font-size: 7px;
        margin-right: 5px;
    }
    #home_body_blogs-ul-li-image-wrapper {
        height: 60px;
        width: 90px;
    }
    #home_body_blogs-ul span {
        display: none;
    }
}
@media (width < 500px) {
    #home_blog_heading {
        font-size: medium;
    }
    #home_body_blogs-ul a {
        font-size: 5px;
        margin-right: 5px;
    }
    #home_body_blogs-ul-li-image-wrapper {
        height: 60px;
        width: 90px;
    }
}
